body {
    /* background: linear-gradient(#9198e5, lime, yellow); */
    background-image: url('https://3.bp.blogspot.com/-JdoTQaaWUqA/VsiN19T40DI/AAAAAAAAfAE/ugesBh88LyQ/w1200-h630-p-k-no-nu/femme-shopping.png');
    background-size: cover;
    background-attachment: fixed;
}

.pics {
    width: 90%;
    text-align: center;
    margin: auto;
    object-fit: cover;
}

#carouselExampleCaptions {
    margin-top: 5%;
}

.btn-toolbar {
    position: absolute;
    top: 10px;
    right: 10px;
}