<!DOCTYPE html>
html(lang="fr")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(href="css/style.css" rel="stylesheet")
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous")
    body
        h1 Mon site E-commerce de folie !!!
        if session.user
            if session.user.civility === 'H'
                div Bonjour, Monsieur #{session.user.lastname}
            else 
                div Bonjour, Madame #{session.user.lastname}
            a(href="/disconnect") Déconnexion
            
        else   
            a(href="/register") Inscription
            br
            a(href="/connexion") Connexion
            
        if messages.info
            .alert.alert-success(role="alert")
                strong #{messages.info}


        script(src=process.env.BROWSER_REFRESH_URL)